.grid__container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(12, 1fr); 
    gap: 0.5rem;
    color: green;
    width: 100%;
    height: 100vh;
}

.grid_element1 {
    background-color: #ff9999;
    grid-column: span 2;
    grid-row: 1 / span 3;
}

.grid_element2 {
    background-color: #99ff99;
    grid-column: span 2;
    grid-row: 4 / span 6;
}

.grid_element3 {
    background-color: #9999ff;
    grid-column: span 2;
    grid-row: 10 / span 2;
}
   

.grid_element4 {
    background-color: #ffff99;
    grid-column: span 2;
    grid-row: 1 / span 2;
    
}

.grid_element5 {
    background-color: #ff99ff;
    grid-column: span 2;
    grid-row: 1 / span 3;
}

.grid_element6 {
    background-color: #99ffff;
    grid-column: span 2;
    grid-row: 1 / span 2;
}

.grid_element7 {
    background-color: #99ffff;
    grid-column: span 2;
    grid-row: 4 / span 4;
}

.grid_element8 {
    background-color: #1f23a0;
    grid-column: 1 / span 2;
    grid-row:4 / span 4;
}

.grid_element9 {
    background-color: #e35a5a;
    grid-column: 4 / span 1;
    grid-row: 4 / span 4;
}
.grid_element10 {
    background-color: #ec3b3b;
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
} 

.grid_element11 {
    background-color: #ec3b3b;
    grid-column: 1 / span 1;
    grid-row: 1 span 4;
}

.grid_element12 {
    background-color: #ec3b3b;
    grid-column: 1 / -1;
    grid-row: 12 / span 1;
}